.a2hs{
    /*When criteria are not met*/
}
.a2hs i::before{
    content:'+';
}
.a2hs.show-pwa{
    /*When criteria are met*/
}
@media all and (display-mode: standalone) {
    .a2hs{
        display: none !important;
    }
    .a2hs.show-pwa{
        display: none !important;
    }
}