.bt-a2hs{
    /*When criteria are not met*/
    overflow:hidden;
}
.bt-a2hs i::before{
    content:'+';
}
.show-a2hs{
    /*When criteria are met*/
}
@media all and (display-mode: standalone) {
    .bt-a2hs{
        display: none !important;   
    }
    .show-a2hs{
        display: none !important;
    }
    .state-a2hs{
        display: none !important;
    }
}