{%
  set classes = [
    'bt-a2hs',
  ]
%}

{% if prefix %}
  <div class="state-a2hs">{{ prefix }}</div>
{% endif %}
<div {{ attributes.addClass(classes) }}>
    <i></i>
    <button>{{text}}</button>
</div>
{{ attach_library('service_worker/a2hs') }}