{%
  set classes = [
    'a2hs',
  ]
%}

{% if prefix %}
  <div class="a2hs-prefix">{{ prefix }}</div>
{% endif %}
<button {{ attributes.addClass(classes) }}>
    <i></i>
    <span>{{text}}</span>
</button>
{{ attach_library('service_worker/a2hs') }}