{%
  set classes = [
    'bt-a2hs',
  ]
%}

{% if prefix %}
  <div class="state-a2hs">{{ prefix }}</div>
{% endif %}
<button {{ attributes.addClass(classes) }}>
    <i></i>
    <span>{{text}}</span>
</button>
{{ attach_library('service_worker/a2hs') }}