{%
  set btclasses = [
    'bt-notifications',
  ]
%}
{% if prefix %}
  <div class="state-notifications">{{prefix}}</div>
{% endif %}
<div {{ attributes.addClass(btclasses) }}>
    <i></i>
    <button>{{text}}</button>
</div>
{{ attach_library('service_worker/push-notifications-block') }}
