{%
  set btclasses = [
    'bt-notifications',
  ]
%}
{% if prefix %}
  <div class="state-notifications">{{prefix}}</div>
{% endif %}
<button {{ attributes.addClass(btclasses) }}>
    <i></i>
    <span>{{text}}</span>
</button>
{{ attach_library('service_worker/push-notifications-block') }}
